body {
    color: #3c3c3c;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    background: #222222;
}

#loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEC95B;
    height: 100vh;
}

.loading-text {
    width: 27px;
    margin-top: -30px;
    height: 50px;
    font-weight: bold;
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: #3c3c3c;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: #3c3c3c;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

#global-root {
    display: none;
    flex-direction: column;
    min-height: 100vh;
    background: #EEC95B;
}

#post-template {
    display: none;
}

.global-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    padding: 1.5em;
    display: flex;
    background: #BEE3F8;
}

.top-bar-item {
    margin-right: 1.5em;
}

.top-bar-right-link {
    flex-grow: 2;
    text-align: right;
    margin-top: -5px;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    border: none;
    text-decoration: underline;
    background: none;
}

.create-post-form {
    padding: 1.5em;
    background: #FFF;
    margin: 1.5em;
    width: 900px;
}

#create-post-title,#create-post-body {
    font-size: inherit;
    font-family: inherit;
    display: block;
    margin-bottom: 1.5em;
    padding: 1.1em;
    border: none;
    background: #EDF2F7;
    color: #3c3c3c;
}

::placeholder {
    color: #3c3c3c;
}

.create-post-title-container,.create-post-body-container {
    display: flex;
}
#create-post-title {
    flex-grow: 1;
}
.create-post-title-spacer {
    flex-grow: 2;
}
#create-post-body {
    flex-grow: 1;
    height: 100px;
    font-size: inherit;
    font-family: inherit;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-post-error {
    display: none;
    padding-top: 1.5em;
    color: red;
    animation: horizontal-shaking 0.5s 2;
}


#post-container {
    margin: 0 30px 2.5em 30px;
}

#post-container > div {
    padding: 1px 1.5em 1.5em 1.5em;
    background: #fff;
    margin-bottom: 1.5em;
    width: 900px;
}

.post-title {
    font-size: 1.2em;
    padding-bottom: 1em;
    margin-top: 1.5em;
}

.post-info-actions {
    display: flex;
    margin-bottom: 15px;
}
.post-action {
    margin-right: 20px;
}
.post-info-container {
    margin-top: 6px;
}
.post-info-bold {
    font-weight: bold;
}
.post-like {
    padding: 0;
}

.pagination-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    background: #222222;
    color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.pagination-action,.pagination-page-num {
    margin: 0.5em 0;
    padding: 0 0.5em;
}

.pagination-page-num {
    padding-top: 5px;
}

/* touch screen devices */

@media (pointer: none), (pointer: coarse) {

    body {
        font-size: 50px;
    }

    #loading-page {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .loading-text {
        font-size: 140px;
        width: auto;
    }

    .loading-dots {
        margin-top: 170px;
    }
    
    /**
     * ==============================================
     * Dot Pulse
     * ==============================================
     */
    .dot-pulse {
      position: relative;
      left: -9999px;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: #3c3c3c;
      color: #3c3c3c;
      box-shadow: 9999px 0 0 -5px;
      animation: dot-pulse 1.5s infinite linear;
      animation-delay: 0.25s;
    }
    .dot-pulse::before, .dot-pulse::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: #3c3c3c;
      color: #3c3c3c;
    }
    .dot-pulse::before {
      box-shadow: 9909px 0 0 -5px;
      animation: dot-pulse-before 1.5s infinite linear;
      animation-delay: 0s;
    }
    .dot-pulse::after {
      box-shadow: 10089px 0 0 -5px;
      animation: dot-pulse-after 1.5s infinite linear;
      animation-delay: 0.5s;
    }

    @keyframes dot-pulse-before {
      0% {
        box-shadow: 9909px 0 0 -5px;
      }
      30% {
        box-shadow: 9909px 0 0 2px;
      }
      60%, 100% {
        box-shadow: 9909px 0 0 -5px;
      }
    }
    @keyframes dot-pulse {
      0% {
        box-shadow: 9999px 0 0 -5px;
      }
      30% {
        box-shadow: 9999px 0 0 2px;
      }
      60%, 100% {
        box-shadow: 9999px 0 0 -5px;
      }
    }
    @keyframes dot-pulse-after {
      0% {
        box-shadow: 10089px 0 0 -5px;
      }
      30% {
        box-shadow: 10089px 0 0 2px;
      }
      60%, 100% {
        box-shadow: 10089px 0 0 -5px;
      }
    }

    .top-bar {
        flex-direction: column;
    }
    
    .top-bar-item {
        margin-bottom: 1.5em;
    }

    .top-bar-right-link {
        flex-grow: 1;
        text-align: unset;
        margin-bottom: 0;
        margin-top: 0;
    }

    button {
        margin: 0;
        padding: 0;
    }

    .create-post-form {
        width: 100%;
        box-sizing: border-box;
    }

    #create-post-title {
        width: 100%;
    }

    #create-post-body {
        height: 4em;
    }

    .post-info-actions {
        flex-direction: column;
    }

    .post-action:first-child {
        margin-bottom: 1em;
    }

    .post-info-container {
        margin: 1em 0;
    }

    #post-container {
        margin-bottom: 2em;
        width: 100%;
    }
    
    #post-container > div {
        width: 100%;
        box-sizing: border-box;
    }
    
    .pagination-page-num {
        padding-top: 0;
    }
}
